%flexItemsCenter {
    display: flex;
    align-items: center;

}

.header {
    background: var(--header-bg-color);
}

.top-bar {
    @extend %flexItemsCenter;
    padding: 30px
}

.navbar {
    margin-left: 144px;
    margin-right: auto;

    &__list {
        @extend %flexItemsCenter;
        gap: 30px
    }

    &__link {
        @extend %flexItemsCenter;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
        gap: 6px;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 20px;

    &__group {
        @extend %flexItemsCenter;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
        min-width: 50px;
        height: 50px;
    }

    &_group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        padding: 13px 20px;
        gap: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46;
        /* 146.667% */
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--separate-bg);
    }

    &__avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        background: #DFD2FA;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        display: block;
        cursor: pointer;

    }

}