html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(38%) saturate(2921%) hue-rotate(232deg) brightness(92%) contrast(92%);

    --header-bg-color: #EEE;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --separate-bg: #EDEDF6;
}